openapi: 3.1.0
info:
  title: Ecossistema SEO GitHub Read-Only
  description: Acesso somente leitura e fixo ao repositório canônico para auditoria e lifecycle.
  version: 1.0.0
servers:
- url: https://api.github.com
  description: GitHub REST API
paths:
  /user:
    get:
      operationId: getAuthenticatedGitHubUser
      summary: Verificar identidade autenticada
      x-openai-isConsequential: false
      responses:
        '200':
          description: Resposta bem-sucedida
        '401':
          description: Token inválido ou ausente
        '403':
          description: Permissão insuficiente
        '404':
          description: Objeto não encontrado
  /repos/wagnerjfjunior/Blogs-sites-portais-seo:
    get:
      operationId: getSeoEcosystemRepository
      summary: Obter metadados do repositório
      x-openai-isConsequential: false
      responses:
        '200':
          description: Resposta bem-sucedida
        '401':
          description: Token inválido ou ausente
        '403':
          description: Permissão insuficiente
        '404':
          description: Objeto não encontrado
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/branches:
    get:
      operationId: listSeoEcosystemBranches
      summary: Listar branches
      x-openai-isConsequential: false
      responses:
        '200':
          description: Resposta bem-sucedida
        '401':
          description: Token inválido ou ausente
        '403':
          description: Permissão insuficiente
        '404':
          description: Objeto não encontrado
      parameters:
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
      - name: page
        in: query
        required: false
        schema:
          type: integer
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/branches/{branch}:
    get:
      operationId: getSeoEcosystemBranch
      summary: Resolver branch e head
      x-openai-isConsequential: false
      responses:
        '200':
          description: Resposta bem-sucedida
        '401':
          description: Token inválido ou ausente
        '403':
          description: Permissão insuficiente
        '404':
          description: Objeto não encontrado
      parameters:
      - name: branch
        in: path
        required: true
        schema:
          type: string
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/git/commits/{commit_sha}:
    get:
      operationId: getSeoEcosystemGitCommit
      summary: Obter commit Git e tree SHA
      x-openai-isConsequential: false
      responses:
        '200':
          description: Resposta bem-sucedida
        '401':
          description: Token inválido ou ausente
        '403':
          description: Permissão insuficiente
        '404':
          description: Objeto não encontrado
      parameters:
      - name: commit_sha
        in: path
        required: true
        schema:
          type: string
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/git/trees/{tree_sha}:
    get:
      operationId: getSeoEcosystemGitTree
      summary: Ler árvore Git; não considerar completa se truncated=true
      x-openai-isConsequential: false
      responses:
        '200':
          description: Resposta bem-sucedida
        '401':
          description: Token inválido ou ausente
        '403':
          description: Permissão insuficiente
        '404':
          description: Objeto não encontrado
      parameters:
      - name: tree_sha
        in: path
        required: true
        schema:
          type: string
      - name: recursive
        in: query
        required: false
        schema:
          type: string
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/contents/{path}:
    get:
      operationId: getSeoEcosystemFileRaw
      summary: Ler arquivo bruto por caminho e referência
      x-openai-isConsequential: false
      responses:
        '200':
          description: Resposta bem-sucedida
        '401':
          description: Token inválido ou ausente
        '403':
          description: Permissão insuficiente
        '404':
          description: Objeto não encontrado
      parameters:
      - name: path
        in: path
        required: true
        schema:
          type: string
      - name: ref
        in: query
        required: true
        schema:
          type: string
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/git/blobs/{blob_sha}:
    get:
      operationId: getSeoEcosystemBlob
      summary: Ler blob exato
      x-openai-isConsequential: false
      responses:
        '200':
          description: Resposta bem-sucedida
        '401':
          description: Token inválido ou ausente
        '403':
          description: Permissão insuficiente
        '404':
          description: Objeto não encontrado
      parameters:
      - name: blob_sha
        in: path
        required: true
        schema:
          type: string
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/commits:
    get:
      operationId: listSeoEcosystemCommits
      summary: Listar commits
      x-openai-isConsequential: false
      responses:
        '200':
          description: Resposta bem-sucedida
        '401':
          description: Token inválido ou ausente
        '403':
          description: Permissão insuficiente
        '404':
          description: Objeto não encontrado
      parameters:
      - name: sha
        in: query
        required: false
        schema:
          type: string
      - name: path
        in: query
        required: false
        schema:
          type: string
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
      - name: page
        in: query
        required: false
        schema:
          type: integer
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/commits/{ref}:
    get:
      operationId: getSeoEcosystemCommit
      summary: Obter commit e arquivos alterados
      x-openai-isConsequential: false
      responses:
        '200':
          description: Resposta bem-sucedida
        '401':
          description: Token inválido ou ausente
        '403':
          description: Permissão insuficiente
        '404':
          description: Objeto não encontrado
      parameters:
      - name: ref
        in: path
        required: true
        schema:
          type: string
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/pulls:
    get:
      operationId: listSeoEcosystemPullRequests
      summary: Listar pull requests
      x-openai-isConsequential: false
      responses:
        '200':
          description: Resposta bem-sucedida
        '401':
          description: Token inválido ou ausente
        '403':
          description: Permissão insuficiente
        '404':
          description: Objeto não encontrado
      parameters:
      - name: state
        in: query
        required: false
        schema:
          type: string
      - name: head
        in: query
        required: false
        schema:
          type: string
      - name: base
        in: query
        required: false
        schema:
          type: string
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
      - name: page
        in: query
        required: false
        schema:
          type: integer
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/pulls/{pull_number}:
    get:
      operationId: getSeoEcosystemPullRequest
      summary: Obter metadados da PR
      x-openai-isConsequential: false
      responses:
        '200':
          description: Resposta bem-sucedida
        '401':
          description: Token inválido ou ausente
        '403':
          description: Permissão insuficiente
        '404':
          description: Objeto não encontrado
      parameters:
      - name: pull_number
        in: path
        required: true
        schema:
          type: integer
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/pulls/{pull_number}/files:
    get:
      operationId: listSeoEcosystemPullRequestFiles
      summary: Listar arquivos da PR
      x-openai-isConsequential: false
      responses:
        '200':
          description: Resposta bem-sucedida
        '401':
          description: Token inválido ou ausente
        '403':
          description: Permissão insuficiente
        '404':
          description: Objeto não encontrado
      parameters:
      - name: pull_number
        in: path
        required: true
        schema:
          type: integer
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
      - name: page
        in: query
        required: false
        schema:
          type: integer
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/pulls/{pull_number}/commits:
    get:
      operationId: listSeoEcosystemPullRequestCommits
      summary: Listar commits da PR
      x-openai-isConsequential: false
      responses:
        '200':
          description: Resposta bem-sucedida
        '401':
          description: Token inválido ou ausente
        '403':
          description: Permissão insuficiente
        '404':
          description: Objeto não encontrado
      parameters:
      - name: pull_number
        in: path
        required: true
        schema:
          type: integer
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
      - name: page
        in: query
        required: false
        schema:
          type: integer
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/pulls/{pull_number}/reviews:
    get:
      operationId: listSeoEcosystemPullRequestReviews
      summary: Listar reviews da PR
      x-openai-isConsequential: false
      responses:
        '200':
          description: Resposta bem-sucedida
        '401':
          description: Token inválido ou ausente
        '403':
          description: Permissão insuficiente
        '404':
          description: Objeto não encontrado
      parameters:
      - name: pull_number
        in: path
        required: true
        schema:
          type: integer
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
      - name: page
        in: query
        required: false
        schema:
          type: integer
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/pulls/{pull_number}/comments:
    get:
      operationId: listSeoEcosystemPullRequestReviewComments
      summary: Listar comentários inline da PR
      x-openai-isConsequential: false
      responses:
        '200':
          description: Resposta bem-sucedida
        '401':
          description: Token inválido ou ausente
        '403':
          description: Permissão insuficiente
        '404':
          description: Objeto não encontrado
      parameters:
      - name: pull_number
        in: path
        required: true
        schema:
          type: integer
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
      - name: page
        in: query
        required: false
        schema:
          type: integer
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/issues/{pull_number}/comments:
    get:
      operationId: listSeoEcosystemPullRequestConversationComments
      summary: Listar comentários gerais da PR
      x-openai-isConsequential: false
      responses:
        '200':
          description: Resposta bem-sucedida
        '401':
          description: Token inválido ou ausente
        '403':
          description: Permissão insuficiente
        '404':
          description: Objeto não encontrado
      parameters:
      - name: pull_number
        in: path
        required: true
        schema:
          type: integer
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
      - name: page
        in: query
        required: false
        schema:
          type: integer
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/commits/{ref}/check-runs:
    get:
      operationId: listSeoEcosystemCheckRuns
      summary: Consultar checks do commit
      x-openai-isConsequential: false
      responses:
        '200':
          description: Resposta bem-sucedida
        '401':
          description: Token inválido ou ausente
        '403':
          description: Permissão insuficiente
        '404':
          description: Objeto não encontrado
      parameters:
      - name: ref
        in: path
        required: true
        schema:
          type: string
      - name: filter
        in: query
        required: false
        schema:
          type: string
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/actions/runs:
    get:
      operationId: listSeoEcosystemWorkflowRuns
      summary: Listar workflow runs
      x-openai-isConsequential: false
      responses:
        '200':
          description: Resposta bem-sucedida
        '401':
          description: Token inválido ou ausente
        '403':
          description: Permissão insuficiente
        '404':
          description: Objeto não encontrado
      parameters:
      - name: branch
        in: query
        required: false
        schema:
          type: string
      - name: event
        in: query
        required: false
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: string
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
      - name: page
        in: query
        required: false
        schema:
          type: integer
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/actions/runs/{run_id}:
    get:
      operationId: getSeoEcosystemWorkflowRun
      summary: Obter workflow run específico
      x-openai-isConsequential: false
      responses:
        '200':
          description: Resposta bem-sucedida
        '401':
          description: Token inválido ou ausente
        '403':
          description: Permissão insuficiente
        '404':
          description: Objeto não encontrado
      parameters:
      - name: run_id
        in: path
        required: true
        schema:
          type: integer
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/actions/runs/{run_id}/jobs:
    get:
      operationId: listSeoEcosystemWorkflowRunJobs
      summary: Listar jobs e steps
      x-openai-isConsequential: false
      responses:
        '200':
          description: Resposta bem-sucedida
        '401':
          description: Token inválido ou ausente
        '403':
          description: Permissão insuficiente
        '404':
          description: Objeto não encontrado
      parameters:
      - name: run_id
        in: path
        required: true
        schema:
          type: integer
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
      - name: page
        in: query
        required: false
        schema:
          type: integer
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/compare/{basehead}:
    get:
      operationId: compareSeoEcosystemRefs
      summary: Comparar referências
      x-openai-isConsequential: false
      responses:
        '200':
          description: Resposta bem-sucedida
        '401':
          description: Token inválido ou ausente
        '403':
          description: Permissão insuficiente
        '404':
          description: Objeto não encontrado
      parameters:
      - name: basehead
        in: path
        required: true
        schema:
          type: string
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/rulesets:
    get:
      operationId: listSeoEcosystemRulesets
      summary: Listar rulesets
      x-openai-isConsequential: false
      responses:
        '200':
          description: Resposta bem-sucedida
        '401':
          description: Token inválido ou ausente
        '403':
          description: Permissão insuficiente
        '404':
          description: Objeto não encontrado
      parameters:
      - name: includes_parents
        in: query
        required: false
        schema:
          type: boolean
      - name: targets
        in: query
        required: false
        schema:
          type: string
