openapi: 3.1.0
info:
  title: Ecossistema de Blogs, Sites, Portais e SEO — GitHub Read-Only
  description: Read-only access to the private repository wagnerjfjunior/Blogs-sites-portais-seo.
  version: 1.0.1
servers:
  - url: https://api.github.com
    description: GitHub REST API
paths:
  /user:
    get:
      operationId: getAuthenticatedGitHubUser
      summary: Verify authenticated GitHub user
      x-openai-isConsequential: false
      responses: {"200": {"description": "Successful response"}}
  /repos/wagnerjfjunior/Blogs-sites-portais-seo:
    get:
      operationId: getSeoEcosystemRepository
      summary: Get repository metadata
      x-openai-isConsequential: false
      responses: {"200": {"description": "Successful response"}}
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/branches:
    get:
      operationId: listSeoEcosystemBranches
      summary: List repository branches
      x-openai-isConsequential: false
      parameters:
        - {"name": "protected", "in": "query", "required": false, "schema": {"type": "boolean"}}
        - {"name": "per_page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 100, "default": 30}}
        - {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "default": 1}}
      responses: {"200": {"description": "Successful response"}}
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/branches/{branch}:
    get:
      operationId: getSeoEcosystemBranch
      summary: Resolve branch and head SHA
      x-openai-isConsequential: false
      parameters:
        - {"name": "branch", "in": "path", "required": true, "schema": {"type": "string", "minLength": 1}}
      responses: {"200": {"description": "Successful response"}}
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/git/commits/{commit_sha}:
    get:
      operationId: getSeoEcosystemGitCommit
      summary: Get Git commit and root tree SHA
      x-openai-isConsequential: false
      parameters:
        - {"name": "commit_sha", "in": "path", "required": true, "schema": {"type": "string", "minLength": 7}}
      responses: {"200": {"description": "Successful response"}}
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/git/trees/{tree_sha}:
    get:
      operationId: getSeoEcosystemGitTree
      summary: Get Git tree
      description: "If truncated is true, the response does not prove a complete tree."
      x-openai-isConsequential: false
      parameters:
        - {"name": "tree_sha", "in": "path", "required": true, "schema": {"type": "string", "minLength": 7}}
        - {"name": "recursive", "in": "query", "required": false, "schema": {"type": "string", "enum": ["1"]}}
      responses: {"200": {"description": "Successful response"}}
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/contents/{path}:
    get:
      operationId: getSeoEcosystemFileRawByPath
      summary: Read raw file by path and exact ref
      description: "An incomplete response does not prove full-file reading."
      x-openai-isConsequential: false
      parameters:
        - {"name": "path", "in": "path", "required": true, "schema": {"type": "string", "minLength": 1}}
        - {"name": "ref", "in": "query", "required": true, "schema": {"type": "string", "minLength": 1}}
        - {"name": "Accept", "in": "header", "required": false, "schema": {"type": "string", "enum": ["application/vnd.github.raw+json"], "default": "application/vnd.github.raw+json"}}
      responses: {"200": {"description": "Successful response"}}
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/git/blobs/{blob_sha}:
    get:
      operationId: getSeoEcosystemGitBlobRaw
      summary: Read raw Git blob
      description: "An empty or truncated response does not prove full-blob reading."
      x-openai-isConsequential: false
      parameters:
        - {"name": "blob_sha", "in": "path", "required": true, "schema": {"type": "string", "minLength": 7}}
      responses: {"200": {"description": "Successful response"}}
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/commits:
    get:
      operationId: listSeoEcosystemCommits
      summary: List repository commits
      x-openai-isConsequential: false
      parameters:
        - {"name": "sha", "in": "query", "required": false, "schema": {"type": "string"}}
        - {"name": "path", "in": "query", "required": false, "schema": {"type": "string"}}
        - {"name": "per_page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 100, "default": 30}}
        - {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "default": 1}}
      responses: {"200": {"description": "Successful response"}}
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/commits/{ref}:
    get:
      operationId: getSeoEcosystemRepositoryCommit
      summary: Get repository commit and changed files
      description: "Patches do not replace reading final files at the audited ref."
      x-openai-isConsequential: false
      parameters:
        - {"name": "ref", "in": "path", "required": true, "schema": {"type": "string", "minLength": 1}}
      responses: {"200": {"description": "Successful response"}}
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/pulls:
    get:
      operationId: listSeoEcosystemPullRequests
      summary: List pull requests
      x-openai-isConsequential: false
      parameters:
        - {"name": "state", "in": "query", "required": false, "schema": {"type": "string", "enum": ["open", "closed", "all"], "default": "open"}}
        - {"name": "head", "in": "query", "required": false, "schema": {"type": "string"}}
        - {"name": "base", "in": "query", "required": false, "schema": {"type": "string"}}
        - {"name": "per_page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 100, "default": 30}}
        - {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "default": 1}}
      responses: {"200": {"description": "Successful response"}}
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/pulls/{pull_number}:
    get:
      operationId: getSeoEcosystemPullRequest
      summary: Get pull request metadata
      x-openai-isConsequential: false
      parameters:
        - {"name": "pull_number", "in": "path", "required": true, "schema": {"type": "integer", "minimum": 1}}
      responses: {"200": {"description": "Successful response"}}
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/pulls/{pull_number}/files:
    get:
      operationId: listSeoEcosystemPullRequestFiles
      summary: List pull request changed files
      description: "Patches do not replace reading final files at the pull request head."
      x-openai-isConsequential: false
      parameters:
        - {"name": "pull_number", "in": "path", "required": true, "schema": {"type": "integer", "minimum": 1}}
        - {"name": "per_page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 100, "default": 100}}
        - {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "default": 1}}
      responses: {"200": {"description": "Successful response"}}
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/pulls/{pull_number}/commits:
    get:
      operationId: listSeoEcosystemPullRequestCommits
      summary: List pull request commits
      x-openai-isConsequential: false
      parameters:
        - {"name": "pull_number", "in": "path", "required": true, "schema": {"type": "integer", "minimum": 1}}
        - {"name": "per_page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 100, "default": 100}}
        - {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "default": 1}}
      responses: {"200": {"description": "Successful response"}}
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/pulls/{pull_number}/reviews:
    get:
      operationId: listSeoEcosystemPullRequestReviews
      summary: List pull request reviews
      x-openai-isConsequential: false
      parameters:
        - {"name": "pull_number", "in": "path", "required": true, "schema": {"type": "integer", "minimum": 1}}
        - {"name": "per_page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 100, "default": 100}}
        - {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "default": 1}}
      responses: {"200": {"description": "Successful response"}}
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/pulls/{pull_number}/comments:
    get:
      operationId: listSeoEcosystemPullRequestReviewComments
      summary: List pull request inline review comments
      description: "REST review comments do not fully prove GraphQL thread resolution state."
      x-openai-isConsequential: false
      parameters:
        - {"name": "pull_number", "in": "path", "required": true, "schema": {"type": "integer", "minimum": 1}}
        - {"name": "per_page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 100, "default": 100}}
        - {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "default": 1}}
      responses: {"200": {"description": "Successful response"}}
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/issues/{issue_number}/comments:
    get:
      operationId: listSeoEcosystemPullRequestConversationComments
      summary: List pull request conversation comments
      x-openai-isConsequential: false
      parameters:
        - {"name": "issue_number", "in": "path", "required": true, "schema": {"type": "integer", "minimum": 1}}
        - {"name": "per_page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 100, "default": 100}}
        - {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "default": 1}}
      responses: {"200": {"description": "Successful response"}}
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/commits/{ref}/check-runs:
    get:
      operationId: listSeoEcosystemCommitCheckRuns
      summary: List check runs for a commit
      x-openai-isConsequential: false
      parameters:
        - {"name": "ref", "in": "path", "required": true, "schema": {"type": "string", "minLength": 1}}
        - {"name": "filter", "in": "query", "required": false, "schema": {"type": "string", "enum": ["latest", "all"], "default": "latest"}}
        - {"name": "per_page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 100, "default": 100}}
      responses: {"200": {"description": "Successful response"}}
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/actions/runs:
    get:
      operationId: listSeoEcosystemWorkflowRuns
      summary: List workflow runs
      x-openai-isConsequential: false
      parameters:
        - {"name": "branch", "in": "query", "required": false, "schema": {"type": "string"}}
        - {"name": "event", "in": "query", "required": false, "schema": {"type": "string"}}
        - {"name": "status", "in": "query", "required": false, "schema": {"type": "string"}}
        - {"name": "per_page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 100, "default": 30}}
        - {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "default": 1}}
      responses: {"200": {"description": "Successful response"}}
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/actions/runs/{run_id}:
    get:
      operationId: getSeoEcosystemWorkflowRun
      summary: Get a workflow run
      x-openai-isConsequential: false
      parameters:
        - {"name": "run_id", "in": "path", "required": true, "schema": {"type": "integer", "minimum": 1}}
      responses: {"200": {"description": "Successful response"}}
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/actions/runs/{run_id}/jobs:
    get:
      operationId: listSeoEcosystemWorkflowRunJobs
      summary: List jobs for a workflow run
      x-openai-isConsequential: false
      parameters:
        - {"name": "run_id", "in": "path", "required": true, "schema": {"type": "integer", "minimum": 1}}
        - {"name": "filter", "in": "query", "required": false, "schema": {"type": "string", "enum": ["latest", "all"], "default": "latest"}}
        - {"name": "per_page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 100, "default": 100}}
        - {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "default": 1}}
      responses: {"200": {"description": "Successful response"}}
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/compare/{basehead}:
    get:
      operationId: compareSeoEcosystemRefs
      summary: Compare two refs
      x-openai-isConsequential: false
      parameters:
        - {"name": "basehead", "in": "path", "required": true, "schema": {"type": "string", "minLength": 3}}
      responses: {"200": {"description": "Successful response"}}
  /repos/wagnerjfjunior/Blogs-sites-portais-seo/rulesets:
    get:
      operationId: listSeoEcosystemRepositoryRulesets
      summary: List repository rulesets
      x-openai-isConsequential: false
      parameters:
        - {"name": "includes_parents", "in": "query", "required": false, "schema": {"type": "boolean", "default": true}}
      responses: {"200": {"description": "Successful response"}}
